.body {
margin: 0;
}

.main {
position: relative;
min-height: 100vh;
background: linear-gradient(135deg, #1fa2d6 0%, #73cbd6 100%);
display: flex;
justify-content: center;
align-items: center;
}


.container {
position: absolute;
display: flex;
flex-direction: column;
border-radius: 45px;
background-color: white;
align-items: center;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
animation: float-animation 4s ease-in-out infinite;
}


.name {
color: black;
font-size: 25px;
font-family: Roboto, sans-serif;
font-weight: 500;
margin-top: 20px;
margin-bottom: 20px;
}

.description{
color: black;
font-weight: 300;
font-family: Roboto, sans-serif;
font-size: 18px;
margin-right: 15px;
margin-left: 15px;
max-width: 400px;
display: flex;
text-align: center;
margin-top: 0;
}
.write-button {
margin-bottom: 15px;
width: 250px;
height: 50px;
border-radius: 45px;
background-color: #1fa2d6;
border-color: transparent;
}

.link {
text-decoration: none;
font-size: 18px;
color: white;
transition: background-color 0.3s, transform 0.3s;
}

.write-button:hover{
    background-color: #1a8cc2;
}

.write-button:focus{
    background-color: #1a8cc2;
}

@keyframes float-animation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px); 
    }
    100% {
        transform: translateY(0); 
    }
}
